/* basic rules */
body {
    font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #2b3a42;
}

h2 {
    text-align: center;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

/*first screen*/
.header {
    background: #F0F0DF;
    color: #2B3A42;
    padding-top: 20px;
    padding-bottom: 100px;
}

.logo {
    display: block;
    margin: 0 auto;
}


.menu {
    padding-top: 34px;
}

.menu__item {
    margin: 0 37px;
}

.menu__item a {
    font-size: 22px;
    font-weight: 700;
    color: #2B3A42;
}

.login {
    text-align: center;
    padding-top: 34px;
}

.login a {
    font-size: 22px;
    font-weight: 700;
    color: #2B3A42;
}

.login a:hover {
    text-decoration: none;
    color: #BDD3DE;
}

.login a:focus {
    text-decoration: none;
    color: #FF9000;
}

.menu__item a:hover {
    text-decoration: none;
    color: #BDD3DE;
}

.menu__item a:focus {
    text-decoration: none;
}

.main {
    margin-top: 100px;
}

.main__title }{
    font-size: 32px;
}

.main__intro {
    font-size: 20px;
    line-height: 1.5em;
    width: 400px;
}

.main__text {
    font-size: 16px;
    line-height: 1.3em;
    width: 400px;
    margin-top: 10px;
}

.main__partners {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2em;
    margin-bottom: 20px;
}

.icons__item {
    font-size: 35px;
    margin-right: 30px;
}

.icons__item a {
    color: #2b3a42;
    transition: all 0.3s ease;
}

.icons__item a:hover {
    text-decoration: none;
    color: #FF9000;
}

.community {
    width: 300px;
    display: block;
    margin: 100px auto 0;
}

/*second screen*/
.features {
    background: #FF9000;
}

.title__main {
    font-weight: 500;
    margin-top: 20px;
}
.title__text {
    font-size: 20px;
    line-height: 1.3em;
    margin-bottom: 50px;
}

.feature {
    margin-bottom: 20px;
}

.feature__icon {
    font-size: 40px;
    margin-right: 35px;
    margin-top: 10px;
}

.feature__block {
    height: 200px;
}

.feature__title {
    font-weight: 500
}

/*third screen*/
.feedback {
    background: #3F5866;
    color: #F0F0DF;
    padding-top: 20px;
}

.feedback h3 {
    color: #F0F0DF;
    text-align: center;
    font-weight: 500;
}

.form {
    text-align: center;
    margin-bottom: 40px;
}

.form__input {
    background: #fff;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    border-radius: 8px;
    width: 320px;
    border: 0;
    padding: 10px 20px;
    margin-right: 5px;
    outline: none;
}

.form__btn {
    background: #FF9000;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    text-transform: uppercase;
    width: 120px;
    border: 0;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
}

.form__btn:hover {
    background: #FF331D;
    font-weight: 600;
}

/* Footer */
.footer {
    padding: 60px 0;
}

.footer .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #2B3A42 !important;
}
#footer h5{
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
    padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
    font-size:25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.social li:hover a i {
    font-size:30px;
    margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
    color:#ffffff;
}
#footer ul.social li a:hover{
    color:#eeeeee;
}
#footer ul.quick-links li{
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.quick-links li:hover{
    padding: 3px 0;
    margin-left:5px;
    font-weight:700;
}
#footer ul.quick-links li a i{
    margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}

@media (max-width:1023px){
    .main {
        text-align: center;
    }
    .main__intro {
        width: auto;
    }
    .main__text {
        width: auto;
    }
    .main__partners {
        text-align: left;
    }
}
